// ==========
h3 {
  // color: #d1d105;
  // background-color: #4a4a4a;
  height: 50px;
  padding: 10px 20px;
}

.navbar {
  background-color: #4a4a4a;
  .navbar-brand {
    color: white;
  }
}
.collapse {
  .navbar-nav {
    .nav-item {
      .nav-link {
        &:hover {
          color: white;
        }
      }
    }
  }
}
.table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  .title-text {
    background-color: #4a4a4a;
    color: #d1d105;
  }
  .title-text-name {
    border-bottom: hidden;
  }
}
